.loader {
    z-index: 99;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.spiral {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border-top: 7px solid var(--red-fresh);
    border-bottom: 7px solid var(--red-fresh);
    border-right: 5px solid rgba(255,255,255,0);
    border-left: 5px solid rgba(255,255,255,0);
    border-radius: 50%;
    animation: loading .5s linear infinite;
}

.d-none {
    display: none;
}


@keyframes loading {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}